




.bgprofil{
    background-image:url("profil.png");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	height:100vh;
	
}

.para{
    padding-top: 10rem;
    padding-left: 5rem;
}

.para1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    
}

.para2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}

.color{
    color:chocolate;
}
.d-back{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    
}

.round-form{
    border-radius: 360px;
}


.div2{
    background-color: #eeeeee;
    opacity: 0.95;
    margin-top: -10rem;
    height: 80vh;
    padding: 2rem;
}

.text{
    text-align: justify;
}

.div-pro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;
}